@charset "utf-8";

 /* 초기화 태그 */
 body {
    margin: 0;
    padding: 0;
    font-size: 0.9em !important;
    height: 2000px; /*강제 스크롤을 주기위해: 삭제하고 사용하세요*/
    background: teal; /*강제 스크롤을 주기위해: 삭제하고 사용하세요*/
}
 
ul {
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
}

a {
    color: black !important;
    text-decoration: none !important;
    cursor: pointer;
}

p {
    margin: 0 !important;
}

.wrap {
    overflow: hidden;
    min-width: 1200px;
}

/* 헤더 */

header{
    height: 80px;
    position: relative;
}

nav{
    border-bottom: 1px solid rgb(211, 211, 211);
    background-color: white;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.nav__menu > li{
    display: inline-block;
    padding: 20px;
    position: relative;
    top: 0;
}

.w1{
    display: block;
    font-size: 15px;
    font-weight: bold;
}

.w2{
    display: block;
    font-size: 10px;
}

.sub-menu{
    display: none;
    width: 200px;
    background-color: white;
    border: 1px solid rgb(212, 207, 207);
    position: absolute;
    top: 80px;
}

.nav__menu > li:hover .sub-menu{
    display: block;
}

.sub-menu > li{
    padding: 10px;
}